---
import Layout from "../layouts/Layout.astro";
import Header from "../components/ui/Header.astro";

---

<Layout title="Thanks | Agora" description="A distributed movement to reclaim the commons and combat digital atomization.">
  
  <article class="pt-32 pb-24 px-6 bg-olive-50 text-olive-900 antialiased">
    <div class="max-w-3xl mx-auto space-y-16">
      <Header>
        <fragment slot="header">
          Thanks!
        </fragment>
        <fragment slot="subtitle">
          “Thank you for your message. We‘ll get back to you soon.”
        </fragment>
      </Header>
    </div>
  </article>

</Layout>