---
const { variant } = Astro.props;
const styles = {
  primary: "max-w-6xl mx-auto grid gap-10",
  ThreeCols: "max-w-6xl mx-auto grid gap-10 md:grid-cols-3"
};
---

<section class="my-10 py-6 px-6 bg-white">
    <div class={`${styles[variant]}`}>
        <slot />
    </div>
</section>
        